header {
  height: 100px;
}
.row {
  border: dashed;
  border-width: 2px;
  border-color: chartreuse;
}

.col {
border: dotted;
border-width: 2px;
border-color: fuchsia;
}

.aside,
.search-history {
  height: 500px;
}

#current-block,
#forecast-block {
  height: 250px;
}