header {
  height: 100px;
  font-size: 70px;
  text-align: center;
  background-color:tomato
}

body {
  background-color: wheat;

}
.row {
  margin: 10px;
}

.aside,
.search-history {
  height: 500px;
}

#current-block,
#forecast-block {
  height: 250px;
}

ul {
  list-style: none;
}